
header {
    background-color: rgb(51, 51, 51);
    line-height: 40px;
    width: 100%;
    margin: 0;
}

.nav {
    background-color: rgb(68, 68, 68);
    text-align: center;
    overflow: auto;
    font-size: 14px;      
}

.nav a:link, a:visited {
    padding: 0px 12px 0px 12px;
    float: left;
    width: 12%;
    color: white;
}

.nav1 {
    color: white;
    text-align: center;
    margin: 0;
    overflow: auto;
    font-size: 22px
}

.nav1 a {
    float: left;
    padding: 12px;
    color: white;
    font-size: 17px;
    width: 12%;
    text-align: center;
    vertical-align: middle;
}

/* taken from utilities.css */
.container {
    margin: 0 auto;
    overflow: auto;
    padding: 0;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(.98);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
/* _______________________________________ */

.nav2 {
    background-color: rgba(161, 161, 161, 0.15);
    color: black;
    text-align: center;
    margin-top: 0;
    line-height: 100px;
    overflow: auto;
    
}

.nav2 a {
    padding-left: 30px;
    background: transparent;
    color: black;
    height: 100%;
}

h1 {
    color: black;
    font-size: 80px;
    font-style: bold;
    text-align: center;
    line-height: 150px;
    width: 100%;
    margin: 0;
}

/* overflow-x got rid of white space on right side of the page */
html,body {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 8px;
}

.grid-container {
    height: 600px;
    display: grid;
    padding: 100px 150px 175px 150px;
    grid-template-columns: 50% 50%;
    grid-column-gap: 75px;
    grid-row-gap: 10px;
    
}

.grid-container > div {
    background-color: rgba(161, 161, 161, 0.15);
    font-size: 30px;
    text-align: center;
    border-radius: 8px;
}

.img3 {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}



footer {
    text-align: center;
    font-size: 14px;
}

/* Tablet */
@media(max-width: 768px) {

}

/* Mobile */
@media(max-width: 500px) {
    
}