
body {
    background-color: rgb(49, 49, 49);
    text-align: center;
}

h1 {
    color: white;
}

nav {
    background-color: grey;
    text-align: center;
    font-size: 20px;
    color: white;
}

a {
    margin-right: 50px;
}

.flex-container {
    font-size: 50px;
    color: white;
    border: 3px solid white;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}