
header {
    background-color:rgba(87, 87, 87, 0.9);
    height: 110px;
    
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
}

html,body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100%;
}


nav {
    background-color: grey;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 50px;
    
}

nav > a {
    margin-right: 50px;
}

a:hover {
    background-color: rgba(206, 206, 206, 0.767);
}

.main-sticky {
    position: sticky;
    top:0;
    height: 100%;
}

.sticky-sidebar {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    background-color:rgba(36, 36, 36, 0.9);
    color:white;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    float: left;
    
    
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px;    
    z-index: -1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left-side {

    border: 1px dotted green;
}

.right-side {
    border: 1px dotted red;
    justify-content: right;
}

footer {
    margin-left: 300px;
}
