
* {
    padding: 0;
    margin: 0;
}
/* Header */
header {
    background-color: rgba(175, 78, 33, 0.808);
    height: 100%;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
h1 {
    color: rgb(225, 230, 235);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
}
.header-nav {
    color:rgba(34, 166, 170, 0.815);
    background-color: rgba(124, 60, 30, 0.082);
    height: 75px;
}
.header-nav > li {
    text-decoration: none;
}
.header-nav >li:hover {
    transform: scale(1.05);
}
.grid0 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


/* Sites Navbar */
.nav_sites {
    background-color: rgba(226, 218, 218, 0.411);
    height: 225px;
    padding: 20px;
    color: black;
}
.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card1 {
    border-radius: 6px;
    border: 3px solid black;
    width: 90%;
    text-align: center;
    padding-top: 10px;
    text-shadow: rgba(70, 33, 11, 0.966);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
.card1:hover {
    transform: scale(.95);
    color: red;
}
.card1:visited{
    text-decoration: none;
}

/* idk wtf to even use this for, I hate flexbox*/
.flex1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/*Reference page navbar????*/


/* Body */
body {
    background-color: rgba(228, 222, 222, 0.5);
    color: white;
}

/* Section1 */

.section1 {
    margin-top: 100px;
    height: 200px;
    color: black;
}

.p{
    color: black;
    font-size: 25px;
}

/* Section2 */
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section2 {
    margin-top: 50px;
    height: 150px;
    color: black
}
.card2 {
    
}

/* Tablet */
@media(max-width: 768px) {
    header{
        padding-top: 40px;
        height: 100%
    }
    h1 {
        padding-bottom: 30px;
    }
    .header-nav{
        height: 100%;
        background-color: rgb(206, 132, 98);
    }
    .grid0{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/* Mobile */
@media(max-width: 500px) {
    header{
        padding-top: 30px;
    }
    h1 {
        padding-bottom: 30px;
    }
    .header-nav{
        height: 100%;
        background-color: rgb(240, 191, 169);
    }
    .grid0{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}